<div class="container">        
    <h3>User</h3>   
       
    <div>   
        <label>Email</label>   
        <%= @user.email %>   
    </div> 
            
    <div>   
        <label>FirstName</label>   
        <%= @user.first_name %>   
    </div> 
    
    <div>   
        <label>LastName</label>   
        <%= @user.last_name %>   
    </div>
             
    <div>   
        <label>PhoneNo.</label>   
        <%= @user.phone_no %>   
    </div>   
         
    <div>   
      <%= link_to 'Edit', edit_user_path(@user) %> |
       <%= link_to 'Back', { controller: 'users', action: 'index'} %>   
    </div>   
</div>  


