 <%= form_with(model: vehicle) do |f| %>
      <% if @vehicle.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            The form contains <%= pluralize(@vehicle.errors.count, "error") %>.
          </div>
          <ul>
          <% @vehicle.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <% if @vehicle.image.attached? %>
          <%= image_tag @vehicle.image, style: "width: 200px; display: bolck" %>
        <% end %> 
        
        <%= f.label :image%><br>
        <%= f.file_field :image, class: "form-control" %>
      </div>

      <div class="form-group">
      <%= f.label :license_number%><br>
      <%= f.text_field :license_number %>
      </div>

      <div class="form-group">
      <%= f.label :vehicle_type %><br>
      <%= f.text_field :vehicle_type %>
      </div>

      <div class="form-group">
      <%= f.label :vehicle_model %><br>
      <%= f.text_field :vehicle_model %>
      </div>

      <div class="form-group">
      <%= f.label :location %><br>
      <%= f.text_field :location %>
      </div>

      <div class="form-group">
      <%= f.label :status %><br>
      <%= f.text_field :status %>
      </div>
       
      <div class="actions">
      <%= f.submit %>
      </div>
    <% end %>