<p id="notice"><%= notice %></p>

<h1 class="head">Vehicles</h1>
<div class="row">
<table> 
  <thead>
    <tr>
      
      
      <th></th>
      <th>VehicleType</th>
      <th>LicenseNumber</th>
      <th>VehicleModel</th>
      <th>Location</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td>
          <% if vehicle.image.attached? %>
            <%= image_tag vehicle.image, style: "width: 200px; display: bolck" %>
          <% end %> 
        </td>
        <td><%= vehicle.vehicle_type %></td>
        <td><%= vehicle.license_number %></td>
        <td><%= vehicle.vehicle_model %></td>
        <td><%= vehicle.location %></td>
        <td><%= vehicle.status %></td>
        <% if policy(:vehicle).update? %>
        <td><%= link_to 'Show', vehicle, class: 'btn btn-info'%></td>
        <% end %> 
        <% if policy(:vehicle).update? %>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle), class: 'btn btn-warning' %></td>
        <% end %>
        <% if policy(:vehicle).destroy? %>
        <td><%= link_to 'Destroy', vehicles_delete_path(vehicle),
                        class: 'btn btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% if policy(:vehicle).update?%>
<%= link_to 'New Vehicle', new_vehicle_path, class: 'btn btn-primary'%>
<% end %>

  <%= will_paginate @vehicle %>

