<p id="notice"><%= notice %></p>

<h1 class="head">Searched Vehicles</h1>
<div class="row">
<table> 
  <thead>
    <tr>
      
      
      <th></th>
      <th>VehicleType</th>
      <th>LicenseNumber</th>
      <th>VehicleModel</th>
      <th>Location</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>

    <% @vehicles.each do |vehicle| %>
      <tr>
        <td>
          <% if vehicle.image.attached? %>
            <%= image_tag vehicle.image, style: "width: 200px; display: bolck" %>
          <% end %> 
        </td>
        <td><%= vehicle.vehicle_type %></td>
        <td><%= vehicle.license_number %></td>
        <td><%= vehicle.vehicle_model %></td>
        <td><%= vehicle.location %></td>
        <td><%= vehicle.status %></td>
        <td><%= button_to 'Book', new_booking_path(:pick_up => @pick_up, :drop => @drop, :distance => @distance) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
