<!DOCTYPE html>
<html>
  <head>
    <title>OlaCab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a href="#" class="navbar-brand">
      Ola Cab
      </a>
      <ul class="navbar-nav">
      <div id="user_header">  
         <%if user_signed_in? %>  
           Logged in as <%= current_user.email %>. 
           Welcome <%= current_user.first_name %>
           as : <%= current_user.role%> 
          
         
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-danger '  %> 
         
      <% else %> 
        <%= link_to "Sign Up",  new_user_registration_path, class: 'btn btn-primary' %>
        <%= link_to "Log In", new_user_session_path, class: 'btn btn-success' %>
      <% end %>  
      </div>  
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/vehicles" class="nav-link">Vehicles</a></li>
        <li class="nav-item"><a href="/bookings" class="nav-link">Booking</a></li>
        
    </ul>
    </nav>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    <%= yield %>
  <footer class="page-footer font-small indigo">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://olaCab.com/"> OlaCab.com</a>
  </div>
  <!-- Copyright -->

</footer>
    
  </body>
</html>
